
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #292929;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #000000;
    color: #000000;
    padding: 15px;
    text-align: center;
}

.container {
    background-color: #292929;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 20px;
}

h1 {
    font-size: 24px;
    color: whitesmoke;
}

.note {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.note textarea {
    width: 100%;
    border: none;
    resize: none;
    font-size: 16px;
     background: transparent;
}

.note button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.note button:hover {
    background-color: #0056b3;
}
.button{
  padding: 3px;
  margin: 3px;
}
#ButtonDiv{
  margin: 2px;
}
